<div id="main-modal-content">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header bg-pantone">
        <h4 class="modal-title"><i class="fa fa-edit"></i>Edit Category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/admin/category/store/" class="form actionForm"
        data-redirect="/admin/category" method="POST" accept-charset="utf-8" id="category_form">
        <input type="hidden" name="id" value="<%= category_id %>" />
        <input type="hidden" name="token" value="e6a5d1436773236a07377a652cf828e3" />
        <div class="modal-body">
          <div class="row justify-content-md-center">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" value="<%= name %>" class="form-control" />
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label>Sort</label>
                <input type="number" name="sort" value="<%= sort %>" class="form-control" />

              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label>Status</label>
                <select name="status" class="form-control">
                  <option value="1" <%= status == 'active' ? 'selected' : '' %>>Active</option>
                  <option value="0" <%= status == 'deactive' ? 'selected' : '' %>>Deactive</option>
                </select>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-min-width mr-1 mb-1">Save</button>
          <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>