<option value="0">Choose Service</option>
<% result.forEach(e => { %>
    <option 
        value="<%=e.service%>" 
        data-service="<%=e.service%>" 
        data-name="<%=e.name%>" 
        data-type="<%=e.type%>" 
        data-rate="<%=e.rate%>" 
        data-min="<%=e.min%>" 
        data-max="<%=e.max%>" 
        data-dripfeed="<%=e.dripfeed%>" 
        data-refill="0" 
        data-cancel="<%=e.cancel%>" 
        data-category="<%=e.category%>">
        <%=e.content%>
    </option>
<% }) %>