<%- include('../../../global/view/userHeader.ejs') %>
  <div class="layout-main d-flex flex-column flex-fill max-w-full">
    <main class="app-content">
      <section class="page-title">
        <div class="row justify-content-between">
          <div class="col-md-9">
            <h1 class="page-title">
              서비스 목록
            </h1>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
              <select name="status" class="form-control order_by ajaxChange" data-url="/services/sort/">
                <option value="0">전체 카테고리</option>
                <% category.forEach(c => { %>
                  <option value="<%= c.categoryId %>"><%= c.name %></option>
                <% }) %>
              </select>
            </div>
          </div>
        </div>
      </section>
      <div class="row m-t-5" id="result_ajaxSearch">
        <div class="col-md-12 col-xl-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">테스트</h3>
              <div class="card-options">
                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                    class="fe fe-chevron-up"></i></a>
                <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-hover table-bordered table-vcenter card-table">
                <thead>
                  <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">이름</th>
                    <th class="text-center">가격(₩)</th>
                    <th class="">최소 및 최대 주문 수량</th>
                    <th class="text-center">설명</th>
                  </tr>
                </thead>
                <tbody>
                  <% services.forEach(s => { %>
                  <tr class="tr_163">
                    <td class="text-center w-10p text-muted"><%= s.serviceId %></td>
                    <td>
                      <div class="title"><%= s.name %></div>
                    </td>
                    <td class="text-center w-5p">
                      <div><%= s.rate %></div>
                    </td>
                    <td class="text-center w-10p text-muted"><%= s.min %> / <%= s.max %></td>
                    <td class="text-center w-5p"><%= s.description %></td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  </div>
  <%- include('../../../global/view/userFooter.ejs') %>