<%- include('../../../global/view/userHeader') %>
<div class="layout-main d-flex flex-column flex-fill max-w-full">
    <main class="app-content">

        <div class="row justify-content-center row-card statistics">
            <!-- header Statistic -->
            <div class="col-sm-12">
                <div class="row">

                    <div class="col-sm-6 col-lg-3 item">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                                <span class="stamp stamp-md bg-success-gradient text-white mr-3">
                                    <i class="fe fe-dollar-sign"></i>
                                </span>
                                <div class="d-flex order-lg-2 ml-auto">
                                    <div class="ml-2 d-lg-block text-right">
                                        <h4 class="m-0 text-right number">₩<%= money %></h4>
                                        <small class="text-muted ">예치금 잔액</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                                <span class="stamp stamp-md bg-info-gradient text-white mr-3">
                                    <i class="fe fe-dollar-sign"></i>
                                </span>
                                <div class="d-flex order-lg-2 ml-auto">
                                    <div class="ml-2 d-lg-block text-right">
                                        <h4 class="m-0 text-right number">₩<%= totalCharge %></h4>
                                        <small class="text-muted ">총 사용 금액</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                                <span class="stamp stamp-md bg-warning-gradient text-white mr-3">
                                    <i class="fe fe-shopping-cart"></i>
                                </span>
                                <div class="d-flex order-lg-2 ml-auto">
                                    <div class="ml-2 d-lg-block text-right">
                                        <h4 class="m-0 text-right number"><%= totalOrder %></h4>
                                        <small class="text-muted ">총 주문</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                                <span class="stamp stamp-md bg-danger-gradient text-white mr-3">
                                    <i class="fa fa-ticket"></i>
                                </span>
                                <div class="d-flex order-lg-2 ml-auto">
                                    <div class="ml-2 d-lg-block text-right">
                                        <h4 class="m-0 text-right number">0</h4>
                                        <small class="text-muted ">총 문의</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chart Area -->
            <div class="col-sm-12 charts">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">최근 주문 현황</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="p-4 card">
                                <div id="orders_chart_spline" style="height: 20rem;"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="p-4 card">
                                <div id="orders_chart_pie" style="height: 20rem;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    Chart_template.chart_spline('#orders_chart_spline', { "time": ["2023-09-16", "2023-09-17", "2023-09-18", "2023-09-19", "2023-09-20", "2023-09-21", "2023-09-22"], "완료됨": [0, 0, 0, 0, 0, 0, 0], "처리중": [0, 0, 0, 0, 0, 0, 0], "취소됨": [0, 0, 0, 0, 0, 0, 0], "대기중": [0, 0, 0, 0, 0, 0, 0], "부분완료됨": [0, 0, 0, 0, 0, 0, 0], "대기중": [0, 0, 0, 0, 0, 0, 0] });
                    Chart_template.chart_pie('#orders_chart_pie', { "완료됨": 0, "처리중": 0, "취소됨": 0, "대기중": "5", "부분완료됨": 0, "대기중": 0 });
                });
            </script>

            <!-- Orders Logs -->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 item">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                                <span class="stamp stamp-md text-primary mr-3">
                                    <i class="fe fe-list"></i>
                                </span>
                                <div class="d-flex order-lg-2 ml-auto">
                                    <div class="ml-2 d-lg-block text-right">
                                        <h4 class="m-0 text-right number"><%= totalOrder %></h4>
                                        <small class="text-muted ">총 주문</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                                <span class="stamp stamp-md text-primary mr-3">
                                    <i class="fe fe-check"></i>
                                </span>
                                <div class="d-flex order-lg-2 ml-auto">
                                    <div class="ml-2 d-lg-block text-right">
                                        <h4 class="m-0 text-right number">0</h4>
                                        <small class="text-muted ">완료됨</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                                <span class="stamp stamp-md text-primary mr-3">
                                    <i class="fe fe-trending-up"></i>
                                </span>
                                <div class="d-flex order-lg-2 ml-auto">
                                    <div class="ml-2 d-lg-block text-right">
                                        <h4 class="m-0 text-right number">0</h4>
                                        <small class="text-muted ">처리중</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                                <span class="stamp stamp-md text-primary mr-3">
                                    <i class="fe fe-loader"></i>
                                </span>
                                <div class="d-flex order-lg-2 ml-auto">
                                    <div class="ml-2 d-lg-block text-right">
                                        <h4 class="m-0 text-right number">0</h4>
                                        <small class="text-muted ">대기중</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                                <span class="stamp stamp-md text-primary mr-3">
                                    <i class="fe fe-pie-chart"></i>
                                </span>
                                <div class="d-flex order-lg-2 ml-auto">
                                    <div class="ml-2 d-lg-block text-right">
                                        <h4 class="m-0 text-right number">5</h4>
                                        <small class="text-muted ">대기중</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                                <span class="stamp stamp-md text-primary mr-3">
                                    <i class="fa fa-hourglass-half"></i>
                                </span>
                                <div class="d-flex order-lg-2 ml-auto">
                                    <div class="ml-2 d-lg-block text-right">
                                        <h4 class="m-0 text-right number">0</h4>
                                        <small class="text-muted ">부분완료됨</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                                <span class="stamp stamp-md text-primary mr-3">
                                    <i class="fe fe-x-square"></i>
                                </span>
                                <div class="d-flex order-lg-2 ml-auto">
                                    <div class="ml-2 d-lg-block text-right">
                                        <h4 class="m-0 text-right number">0</h4>
                                        <small class="text-muted ">취소됨</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                                <span class="stamp stamp-md text-primary mr-3">
                                    <i class="fe fe-rotate-ccw"></i>
                                </span>
                                <div class="d-flex order-lg-2 ml-auto">
                                    <div class="ml-2 d-lg-block text-right">
                                        <h4 class="m-0 text-right number">0</h4>
                                        <small class="text-muted ">환불됨</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Top best Sellers -->


    </main>
</div>
</div>
<!-- modal -->
<div id="modal-ajax" class="modal fade" tabindex="-1"></div>

<%- include("../../../global/view/userFooter") %>