<%- include("../../../../global/view/adminHeader.ejs") %>
<div class="layout-main d-flex flex-column flex-fill max-w-full">
    <main class="app-content">
        <div class="page-title m-b-20">
            <div class="row justify-content-between">
                <div class="col-md-2">
                    <h1 class="page-title">
                        <span class="fa fa-file-text-o"></span> 충전 관리
                    </h1>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">필터</h3>
                        <div class="card-options">
                            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                    class="fe fe-chevron-up"></i></a>
                            <a href="#" class="card-options-remove" data-toggle="card-remove"><i
                                    class="fe fe-x"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="btn-group w-30 m-b-10"><a href="/admin/transactions?status=3"
                                        class="btn ">전체 <span class="badge badge-pill bg-azure">3</span></a><a
                                        href="/admin/transactions?status=1" class="btn ">결제완료 <span
                                            class="badge badge-pill bg-indigo">3</span></a>
                                </div>
                            </div>
                            <div class="col-md-4 search-area">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="query" class="form-control" placeholder="검색" value="">
                                        <select name="field" class="form-control" id="">
                                            <option value="transaction_id">고유번호</option>
                                            <option value="email">이메일</option>
                                            <option value="note">Note</option>
                                        </select>
                                        <button class="btn btn-primary btn-square btn-search" type="button"><span
                                                class="fe fe-search"></span></button>
                                        <button class="btn btn-outline-danger btn-square btn-clear d-none"
                                            data-toggle="tooltip" data-placement="bottom" title=""
                                            data-original-title="Clear" type="button"><span
                                                class="fe fe-x"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        충전 관리
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-vcenter card-table">
                            <thead>
                                <tr>
                                    <th class="text-center w-1">#</th>
                                    <th class="">User</th>
                                    <th class="text-center">Transaction id</th>
                                    <th class="text-center">Payment</th>
                                    <th class="text-center">Amount</th>
                                    <th class="text-center">Transaction fee</th>
                                    <th class="text-center">Note</th>
                                    <th class="text-center">Created</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% depoists.forEach(d => { %>
                                <tr class="tr_depoist<%= d.depoistId %>">
                                    <td class="text-center text-muted"><%= d.depoistId %></td>
                                    <td><%= d.email %></td>
                                    <td class="text-center w-10p"></td>
                                    <td class="text-center w-10p">무통장 입금</td>
                                    <td class="text-center w-10p"><%= d.pay %></td>
                                    <td class="text-center w-5p text-muted"></td>
                                    <td class="text-center w-10p"><%= d.note %></td>
                                    <td class="text-center w-10p text-muted"><%= d.created %></td>
                                    <td class="text-center w-5p">
                                        <% if (d.status == '1') { %>
                                        <span class="badge bg-green-lt">결제완료</span>
                                        <% } else if (d.status == '0') { %>
                                        <span class="badge bg-indigo-lt">대기중</span>
                                        <% } else if (d.status == '-1') { %>
                                            <span class="badge bg-gray-lt">취소됨</span>
                                        <% } %>
                                    </td>
                                    <td class="text-center w-5p">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                                    class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu"><a href="/admin/transactions/update/<%= d.depoistId %>"
                                                    class="dropdown-item ajaxModal" data-confirm_ms=""><i
                                                        class="dropdown-icon fe fe-edit"></i> Edit</a><a
                                                    href="/admin/transactions/delete/<%= d.depoistId %>"
                                                    class="dropdown-item ajaxDeleteItem"
                                                    data-confirm_ms="Are you sure you want to delete this item"><i
                                                        class="dropdown-icon fe fe-trash-2"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</div>
<!-- modal -->
<div id="modal-ajax" class="modal fade" tabindex="-1"></div>
<%- include("../../../../global/view/adminFooter.ejs") %>